{{user.name}}
{{user.email}}
{{user.gender}}
{{user.password}}
<div class="page">
   		<div class="account">
	    	<div class="container">
				<div class="row">
					
					<div id="uncomplete-event" class="col-md-6 uncomplete-event">
						<div id="launched-event" class="col-md-12 launched-event">
							<h3 class="col-md-12"><a href="<%=path%>/view/launched_event.jsp">launched event</a></h3>
							<div class="col-md-12 event_information">							
								<table style="width:100%">					
									<tr>
										<td>Location:</td>
										<td>GWU</td>		
										<td>Estimate Price:</td>
										<td>$15/person</td>
									</tr>
									<tr>
										<td>Date:</td>
										<td>11/11/2015</td>		
										<td>Total People:</td>
										<td>4/5</td>
									</tr>						  
								</table>												
							</div>									
						</div><!-- launched-event -->
						<div id="pending-event" class="col-md-12 pending-event">
							<h3 class="col-md-12"><a href="<%=path%>/view/pending_event.jsp">pending event</a></h3>
							<div class="col-md-12 event_information">							
								<table style="width:100%">					
									<tr>
										<td>Location:</td>
										<td>GWU</td>		
										<td>Estimate Price:</td>
										<td>$15/person</td>
									</tr>
									<tr>
										<td>Date:</td>
										<td>11/11/2015</td>		
										<td>Total People:</td>
										<td>4/5</td>
									</tr>						  
								</table>												
							</div>									
						</div>
											
					</div><!-- uncomplete-event -->
					
					<div id="completed-event" class="col-md-6">
		  				<div class="col-md-12 completed-event">
							<h3 class="col-md-12"><a href="<%=path%>/view/rating_event.jsp">rating event</a></h3>
							<div class="col-md-12 event_information">							
								<table style="width:100%">					
									<tr>
										<td>Location:</td>
										<td>GWU</td>		
										<td>Estimate Price:</td>
										<td>$15/person</td>
									</tr>
									<tr>
										<td>Date:</td>
										<td>11/11/2015</td>		
										<td>Total People:</td>
										<td>4/5</td>
									</tr>						  
								</table>												
							</div>									
						</div>
					</div>
					
				</div><!-- row -->	
			</div>
		</div>
	</div>