<div class="jumbotron text-center">
        <h1>Contact Page</h1>

        <p>{{ message }}</p>
    </div>
		    <div class="page">
		       	<label for="session_email">Email</label>
				<div class="input-group">
				    <span class="input-group-addon">
				        <i class="fa fa-envelope-o"></i>
				    </span>
				    <input type="text" name="email" ng-model="user.email"/>
				</div>
		    
			    <label for="session_password">Password</label>
				<div class="input-group">
					<span class="input-group-addon">
				    	<i class="fa fa-key"></i>
				    </span>
					<input type="password" name="password" ng-model="user.password"/>
				</div>
				<button type="submit" class="btn btn-default" ng-click="login()">Login</button> 	
		   	</div>
	   	</div>
   </div>
     
   	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="../js/controller.js"></script>  
	
  </body>
</html>
